* {
    --dark: rgba(53, 53, 53, 1);
    --accent: rgba(60, 110, 113, 1);
    --light: rgba(217, 217, 217, 1);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}

body {
    color: var(--dark);
    background-color: var(--light);
    background-image: linear-gradient(
        3000deg,
        var(--accent) -40%,
        var(--light) 70%
    );
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    min-height: 100vh;
}

main {
    max-width: 1400px;
    width: 90vw;
    margin: 0 auto;
}

textarea {
    font-size: 1em;
    padding: 1em;
    width: 400px;
    height: 100px;
    border-radius: 3px;
    resize: vertical;
    border: none;
    display: block;
}

button {
    margin-block: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;
    background-color: var(--accent);
    color: var(--light);
}

button:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: var(--light);
    color: var(--accent);
    border: 1px solid var(--accent);
}

.registrationForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.registrationForm label {
    margin-bottom: 0.5em;
}

.registrationForm input {
    margin-bottom: 1.5em;
    padding: 0.5em;
}

.registrationForm button {
    margin-bottom: 1.5em;
    padding: 0.5em 1.5em;
}

nav {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 200px;
    transform: rotateZ(-5deg);
    filter: drop-shadow(1px 1px 3px rgba(53, 53, 53, 0.5));
}

.profile-widget {
    height: 50px;
}

.profile-widget img {
    width: 50px;
    margin-left: 1em;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--accent);
}

.uploader {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5em;
    background-color: var(--accent);
    color: var(--light);
    border-radius: 3px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.2);
}

.uploader label {
    cursor: pointer;
}

.uploader input[type="file"] {
    position: fixed;
    top: -100px;
}

.profile {
    display: flex;
    gap: 2em;
}

.profile .profile-widget {
    height: 300px;
    width: 300px;
}

.profile .profile-widget img {
    height: 100%;
    width: 100%;
    border-radius: 3px;
    object-fit: cover;
    background-color: var(--accent);
    margin: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.info-profile h3 {
    margin-top: 1em;
    margin-bottom: 2em;
}

.others-profile {
    display: flex;
    gap: 2em;
}

.others-profile .profile-pic {
    height: 300px;
    width: 300px;
    border-radius: 3px;
    object-fit: cover;
    background-color: var(--accent);
    margin: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.most-recent {
    margin-block: 3em;
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.most-recent-card {
    display: flex;
    width: ;
    flex-grow: 1;
    gap: 1em;
    flex-direction: column;
    align-items: center;
}

.most-recent-card p {
    font-size: 1.3em;
}

.most-recent-card img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--accent);
    margin: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.search-users {
    position: relative;
    width: 300px;
}

.search-users label {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: white;
    padding: 2px 2px 2px 10px;
}

#search-user {
    padding: 0.5em;
    border: none;
    border-radius: 3px;
    width: 100%;
    font-size: 1em;
}
